
<tr>
    <td align="center">
        <a href="{{ path('regionalpropinsi_show', { 'id': regionalPropinsi.id }) }}">
            {{ regionalPropinsi.id }}
        </a>
    </td>
    <td>&nbsp;&nbsp;{{ regionalPropinsi.namapropinsi }}</td>
    <td align="center">
        <a href="{{ path('regionalpropinsi_edit', { 'id': regionalPropinsi.id }) }}" class="btn btn-outline-success btn-sm" role="button" style="color:white">Edit</a>
        <a href="{{ path('regionalpropinsi_show', { 'id': regionalPropinsi.id }) }}" class="btn btn-outline-success btn-sm" role="button" style="color:white">Detail</a>
    </td>
</tr>