{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-md-center" style="margin-top:10px;">
    <div class="col-4"> 
		{% trans_default_domain 'FOSUserBundle' %}
		{% if error %}
		    <div class="alert alert-danger" role="alert" style="top:10px;">
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
		{% endif %}
	    <form action="{{ path("fos_user_security_check") }}" method="post">
		    {% if csrf_token %}
		        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		    {% endif %}

		    <label for="username">{{ 'security.login.username'|trans }}</label>
		    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control"/>

		    <label for="password">{{ 'security.login.password'|trans }}</label>
		    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control"/>

		    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		    <button type="submit" class="btn btn-md btn-block btn-primary" style="margin-top:10px;" id="_submit" name="_submit">
                Save
            </button>
		</form>
	</div>
</div>
{% endblock body %}
