{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('regionalkabupaten_new') }}" class="btn btn-outline-secondary btn-block btn-sm" role="button" style="margin-bottom:10px;">
        Tambah Kabupaten
    </a>
    {% if (regionalKabupatens |length != 0) %}
      {% set currentpage      = regionalKabupatens.currentPageNumber %}
      {% set itemperpage      = regionalKabupatens.getItemNumberPerPage %}
      {% set totalitem        = regionalKabupatens.getTotalItemCount %}
      {% set itemfirst        = regionalKabupatens.getPaginationData.firstItemNumber %}
      {% set itemlast         = regionalKabupatens.getPaginationData.lastItemNumber %}
    {% include 'utilfolder/limit.html.twig' with {'path_url':regionalKabupatens.getRoute} %}
    <table class="table table-striped table-dark table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th style="text-align:center;" scope="col">Id</th>
                <th scope="col">Namakabupaten</th>
                <th scope="col">Kab/Kota</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regionalKabupaten in regionalKabupatens %}
            <tr scope="row">
                <td align="center">
                    <a href="{{ path('regionalkabupaten_show', { 'id': regionalKabupaten.id }) }}">
                        {{ regionalKabupaten.id }}
                    </a>
                </td>
                <td style="max-width:15vw;">&nbsp;&nbsp;{{ regionalKabupaten.namaKabupaten }}</td>
                <td>&nbsp;&nbsp;{{ regionalKabupaten.typeKabupaten }}</td>
                <td align="center">
                    <a href="{{ path('regionalkabupaten_edit', { 'id': regionalKabupaten.id }) }}" class="btn btn-outline-success btn-sm" role="button" style="color:white">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row align-items-center justify-content-center">
        <div class="navigation">{{ knp_pagination_render(regionalKabupatens) }}</div>
    </div>
    {% endif %}
{% endblock %}
